
@using System.Configuration
@model DataLayer.Users


<div style="direction: rtl; padding: 20px">
    <h3>@Model.UserName عزیز !</h3>
    <p>جت بازیابی کلمه عبور روی لینک زیر کلیک کنید</p>
    <a href="@ConfigurationManager.AppSettings["ThisDomain"]/Account/ResetPassword/@Model.ActiveCode">
       بازیابی کلمه عبور
    </a>
</div>
